.Carousel {
    height: auto;
    cursor: pointer;
    width: 100%;
}

.Carousel .images-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width : 1000px) {
    .Carousel {
        overflow: hidden;
    }

    .Carousel-Container {
        padding-top: 55px;
    }
}